<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-incident-heading" jhiTranslate="verprojectsApp.incident.home.createOrEditLabel">Create or edit a Incident</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.incident.incidentId" for="field_incidentId">Incident Id</label>
                    <input type="number" class="form-control" name="incidentId" id="field_incidentId"
                           formControlName="incidentId"/>
                    <div *ngIf="editForm.get('incidentId')!.invalid && (editForm.get('incidentId')!.dirty || editForm.get('incidentId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('incidentId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('incidentId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.incident.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.incident.discoveryDate" for="field_discoveryDate">Discovery Date</label>
                    <div class="input-group">
                        <input id="field_discoveryDate" type="text" class="form-control" name="discoveryDate" ngbDatepicker #discoveryDateDp="ngbDatepicker" formControlName="discoveryDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="discoveryDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('discoveryDate')!.invalid && (editForm.get('discoveryDate')!.dirty || editForm.get('discoveryDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('discoveryDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.incident.severity" for="field_severity">Severity</label>
                    <select class="form-control" name="severity" formControlName="severity" id="field_severity">
                        <option value="LOW">{{ 'verprojectsApp.IncidentSeverity.LOW' | translate }}</option>
                        <option value="MEDIUM">{{ 'verprojectsApp.IncidentSeverity.MEDIUM' | translate }}</option>
                        <option value="HIGH">{{ 'verprojectsApp.IncidentSeverity.HIGH' | translate }}</option>
                        <option value="CRITICAL">{{ 'verprojectsApp.IncidentSeverity.CRITICAL' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.incident.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.incident.responsible" for="field_responsible">Responsible</label>
                    <input type="text" class="form-control" name="responsible" id="field_responsible"
                           formControlName="responsible"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.incident.mitigationDate" for="field_mitigationDate">Mitigation Date</label>
                    <div class="input-group">
                        <input id="field_mitigationDate" type="text" class="form-control" name="mitigationDate" ngbDatepicker #mitigationDateDp="ngbDatepicker" formControlName="mitigationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="mitigationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
