<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-task-heading" jhiTranslate="verprojectsApp.task.home.createOrEditLabel">Create or edit a Task</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.taskId" for="field_taskId">Task Id</label>
                    <input type="number" class="form-control" name="taskId" id="field_taskId"
                           formControlName="taskId"/>
                    <div *ngIf="editForm.get('taskId')!.invalid && (editForm.get('taskId')!.dirty || editForm.get('taskId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('taskId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('taskId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.estimatedCost" for="field_estimatedCost">Estimated Cost</label>
                    <input type="number" class="form-control" name="estimatedCost" id="field_estimatedCost"
                           formControlName="estimatedCost"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="NOT_STARTED">{{ 'verprojectsApp.TaskStatus.NOT_STARTED' | translate }}</option>
                        <option value="IN_PROGRESS">{{ 'verprojectsApp.TaskStatus.IN_PROGRESS' | translate }}</option>
                        <option value="COMPLETED">{{ 'verprojectsApp.TaskStatus.COMPLETED' | translate }}</option>
                        <option value="BLOCKED">{{ 'verprojectsApp.TaskStatus.BLOCKED' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.stakeholder" for="field_stakeholder">Stakeholder</label>
                    <select class="form-control" id="field_stakeholder" name="stakeholder" formControlName="stakeholderId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stakeholderOption.id" *ngFor="let stakeholderOption of stakeholders; trackBy: trackById">{{ stakeholderOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.project" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" formControlName="projectId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id" *ngFor="let projectOption of projects; trackBy: trackById">{{ projectOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="verprojectsApp.task.resource" for="field_resource">Resource</label>
                    <select class="form-control" id="field_resource" name="resource" formControlName="resourceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resourceOption.id" *ngFor="let resourceOption of resources; trackBy: trackById">{{ resourceOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
